#lyrics-generation/venv
#src/components/ArtistComponent/BB.js
#.idea/inspectionProfiles/
#client/src/components/ArtistComponent/BB.js
.idea/inspectionProfiles/
client/src/components/ArtistComponent/BB.js
backend/node_modules/
cast-server/node_modules/
proxy-server/node_modules/
user-accounts-api/node_modules/
