# php_flag display_errors on
DirectoryIndex index.php

SetEnv database_dev |root|localhost|music
SetEnv csrf_id [Collect-Server-Token]
# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php except tfm.php
RewriteCond %{REQUEST_URI} !^/tfm.php$
RewriteRule ^(.*)$ index.php [QSA]
