.SongCard {
    width: 15rem;
    margin-right: 1rem;
}

a:focus, a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
    color: inherit;
}

.cardSlider {
    padding: 1rem;
    overflow: auto;
    white-space: nowrap;
}

.cardSlider::-webkit-scrollbar {
    display: none
}

div.Slider {
    overflow: auto;
    white-space: nowrap;
}

div.Slider .SongCard {
    display: inline-block;
}

*:focus {
    outline: none !important;
}
